<div class="container ml-5">

<h1>本当に退会しますか？</h1>
<p>退会すると、会員登録情報や
<br>これまでの購入履歴が閲覧できなくなります。
<br>退会する場合は、「退会する」をクリックしてください。
</p>

<%= link_to '退会しない', my_page_path, class: "btn btn-info" %>

<%= form_with model: @customer, url: customers_is_deleted_path do |f| %>
  <%= f.hidden_field :is_deleted, value: true %>
  <%= f.submit "退会する", class: "btn btn-danger" %>
<% end %>

</div>