      <table class="border">
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
      <% genres.each do |item_genre| %>
        <tr>
          <td><%= link_to item_genre.name, genre_search_genre_path(item_genre.id) %></td>
        </tr>
      <% end %>
        </tbody>
      </table>