<div class="container ml-5">
  <h1>注文情報入力</h1>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>
    <table></table>
  </div>
</div> 