<div class="genres">
   <table>
       <thead>
       <th>
           ジャンル一覧
       </th>
       </thead>
       <tbody>
           <tr>
               <td>ケーキ</td>
           </tr>
           <tr>
               <td>焼き菓子</td>
           </tr>
           <tr>
               <td>プリン</td>
           </tr>
           <tr>
               <td>キャンディー</td>
           </tr>
       </tbody>
   </table>
</div>